{% extends 'base.html' %}


{% block content %}

    <section>
        <div class="filter-container">

            <form action="" method="GET" id="list-form">
                <div class="input_field">
                    <label for="">date debut</label>
                    <input type="date" name="date_debut" id="">
                </div>
            
                <div class="input_field">
                    <label for="">date fin</label>
                    <input type="date" name="date_fin" id="">
                </div>
    
                <button  type="submit" class="btn filter-btn">Valider</button>
                <button  type="submit" class="btn filter-btn" name="export">Export</button>
            </form>
        </div>
        <table>
            <tr>
                <th class="head-table-text">Date</th>
                <th class="head-table-text">Code lié ai SFM</th>
                <th class="head-table-text">Valeur</th>
                <th class="head-table-text">Details</th>
                <th class="head-table-text">ACTION</th>
            </tr>
            {% for sfm in sfm_list %}

                <tr>
                    <td>{{sfm.date}}</td>
                    <td>{{sfm.code_SFM}}</td>
                    <td>{{sfm.valeur}}</td>
                    <td>{{sfm.details}}</td>
                    <td><a href="{% url 'edit-sfm' sfm.id %}">EDIT</a></td>
                </tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}