{% extends 'base.html' %}
{% block content %}

<section>

    <div class="form_container">
        <h3 style="margin: 20px 0px; text-align:center">MODIFIER STATUS UTILISATEUR</h3>
        <form method="post">
            {% csrf_token %}
            {{edit_form.as_p}}
            <button type="submit" class="btn">Valider</button>
        </form>
    
    </div>
        
    
    <hr>
    
    <div class="form_container">
        <h3 style="margin: 20px 0px; text-align:center">SUPPRIMER UTILISATEUR</h3>
        <form method="post">
            {% csrf_token %}
            {{delete_form.as_p}}
            <button type="submit" class="btn" style="cursor: pointer;">Supprimer</button>
        </form>
    
    </div>

</section>



    
{% endblock %}x